.header-block {
  height: 750px;
  background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%),
    url(/assets/img/header-bg.jpg), #ededed;
  //   background-image: url(/assets/img/header-bg.jpg);

  background-size: cover;
  background-position: center;
  color: $white;
  padding-top: 30px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.header-menu__list {
  display: flex;
  flex-wrap: wrap;

  text-align: center;

  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  list-style: none;
}

.header-menu__item {
  padding: 13px 0;

  font-size: rfs-fluid-value(1rem);
  line-height: 150%;

  border-right: 1px solid $white;

  transition-duration: 0.2s;
  &:nth-last-child(1) {
    border-right: none;
  }

  &:hover {
    transition-duration: 0.2s;
    background-color: darken($white, 20);
    cursor: pointer;

    a {
      color: darken($black, 20);
      transition-duration: 0.2s;
    }
  }

  @media screen and (max-width: 426px) {
    border-right: none;
    border-bottom: 1px solid $white;
    &:nth-last-child(1) {
      border-bottom: none;
    }
  }
}
.menu-item__link {
  color: $white;

  display: block;
  height: 100%;

  text-decoration: none;
}

.buttons {
  margin-top: 37%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  padding: 15px 30px;
  background-color: $accent;
}

.button-margin-left {
  margin-left: 35px;
  @media screen and (max-width: 376px) {
    margin-left: 0px;
    margin-top: 10px;
    padding: 15px 40px;
  }
}

.button-link {
  @extend .menu-item__link;
  display: inline;
  text-transform: uppercase;
  transition-duration: 0.2s;
  &:hover {
    background-color: darken($accent, 20);
    transition-duration: 0.2s;
  }
}
