<section class="collection-block">
  <div class="container row container-between">
    <div class="collection-container row col-lg-5">
      <h3 class="collection-subtitle">Новинки коллекций</h3>
      <h2 class="collection-title col-md-9 ">Март 1980 <br/>Урожай Марселя</h2>
      <span class="line col-4"></span>
      <p class="collection-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim
        tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit
        sed fermentum. Felis adipiscing morbi sodales ac.
      </p>
      <table cols="2" class="collection-block_table col-md">
        <tbody>
          <tr class="row">
            <td class="col-2" align="center">1880</td>
            <td class="col-10">Colli Euganei Bianco Ca' Lustra 1980
                <span>Красочная бутылка вина из Марселя</span>
            </td>
        </tr>
        <tr class="row">
            <td class="col-2" align="center">1880</td>
            <td class="col-10">Colli Euganei Bianco Ca' Lustra 1980
                <span>Красочная бутылка вина из Марселя</span>
            </td>
        </tr>
        <tr class="row">
            <td class="col-2" align="center">1880</td>
            <td class="col-10">Colli Euganei Bianco Ca' Lustra 1980
                <span>Красочная бутылка вина из Марселя</span>
            </td>
        </tr>
        </tbody>

      </table>
      <p class="collection-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. </p>
      <a href="" class="button col-6 button-link ">узнать подробности</a>
    </div>
    <div class="slider row col-lg-6">
      <img class="collection-img col" src="../../assets/img/slider-img-1.jpg" alt="">
      <img class="collection-img col-6" src="../../assets/img/slider-img-2.jpg" alt="">
      <img class="collection-img col-6" src="../../assets/img/slider-img-3.jpg" alt="">
    </div>
  </div>
 
</section>
