<section class="footer">
  <footer class="footer-wrapper container">
    <div class="row">
      <nav class="footer-nav">
        <ul class="footer-nav__list row">
          <li class="footer-nav__list-item menu-item col">Главная</li>
          <li class="footer-nav__list-item menu-item col">Каталог</li>
          <li class="footer-nav__list-item menu-item col">Поставщики</li>
          <li class="footer-nav__list-item menu-item col">Коллекции</li>
          <li class="footer-nav__list-item menu-item col">Дегустация</li>
          <li class="footer-nav__list-item menu-item col">Коллекция 2020</li>
          <li class="footer-nav__list-item menu-item col">Контакты</li>
        </ul>
      </nav>
      <div class="footer-contacts">
        <ul class="footer-contacts__list row">
          <li class="footer-contacts__list-item col">винный бутик LE CORTE</li>
          <li class="footer-contacts__list-item col">8 (812) 123-45-67</li>
          <li class="footer-contacts__list-item col">
            <ul class="footer-contacts__list-social row">
              <li class="footer-contacts__list-item social-list__item col">
                vk
              </li>
              <li class="footer-contacts__list-item social-list__item col">
                inst
              </li>
              <li class="footer-contacts__list-item social-list__item col">
                fb
              </li>
            </ul>
          </li>
          <li class="footer-contacts__list-item col">© le-corte.ru</li>
        </ul>
      </div>
    </div>
  </footer>
</section>
