<section class="form-block">
  <img
    src="../../assets/img/left-image.png"
    alt=""
    class="form-block__image left-image"
  />
  <img
    src="../../assets/img/right-image.png"
    alt=""
    class="form-block__image right-image "
  />
  <div class="form-block__container container row">
    <h3 class="form-block__title col-4">Запись на дегустацию<span></span></h3>

    <p class="form-block__text col-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim
      tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit
      sed fermentum.
    </p>
    <form class="form-block__form col-6 row" action="" method="POST">
      <div class="name-and-email">
        <div class="form__group form__group--name">
          <input id="name" class="form__input" type="text" placeholder=" " />
          <label for="" class="form__label">Имя</label>
        </div>
        <div class="form__group form__group--email">
          <input id="email" class="form__input" type="email" placeholder=" " />
          <label for="" class="form__label">Email</label>
        </div>
      </div>
      <div class="form__group form__group--address col">
        <input
          id="address"
          class="form__input col"
          type="text"
          placeholder=" "
        />
        <label for="" class="form__label">Адрес</label>
      </div>

      <button class="form-block__button col-12 button " type="text">записаться</button>
    </form>
  </div>
</section>
