<header class="header-block">
  <div class="container">
    <div class="header-info row">
      <p class="header-info__text col-md-auto">Новокузнечный переулок 4/1</p>
      <p class="header-info__text col-md-auto">+79999999900</p>
    </div>
    <nav class="header-menu menu">
      <ul class="header-menu__list row">
        <li class="header-menu__item menu-item col-md-3">
          <a class="menu-item__link" href="">Каталог </a>
        </li>
        <li class="header-menu__item menu-item col-md-3">
          <a class="menu-item__link" href="">Доставка</a>
        </li>
        <li class="header-menu__item menu-item col-md-3">
          <a class="menu-item__link" href="">Коллекции</a>
        </li>
        <li class="header-menu__item menu-item col-md-3">
          <a class="menu-item__link" href="">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="buttons">
      <a href="" class="button col-md-auto button-link ">винная карта</a>
      <a href="" class="button col-md-auto button-link button-margin-left" >дегустация</a>
    </div>
  </div>
</header>
